font-face {
    font-family: libre Franklin;
    src: url(LibreFranklin-VariableFont_wght);
}

body {
    background-color: hsl(220, 10%, 94%);
    text-align: center;
    margin-top: 60px;
    /* max-width: 625px; */
    padding-top: 20px;
}

#notify {
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: none;
    border-radius: 30px;
    /* color: white; */
    font-size: 10px;
    font-weight: 200;
    /* max-width: 100%; */
    /* height: 30px; */
    cursor: pointer;
    padding: 15px 40px;
    margin-left: 20px;
    box-shadow: 0 5px 5px;
}

p {
    color: hsl(0, 0%, 59%);
}

h2 {
    font-family: libre Franklin;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 40px;
}

span {
    font-family: libre Franklin;
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

#email_input {
    border-radius: 30px;
    font-family: libre Franklin;
    font-size: 16px;
    border: 1px solid hsl(223, 100%, 88%);
    width: 325px;
    max-width: 100%;
    padding: 15px 25px;
    /* color: hsl(223, 100%, 88%); */
    cursor: pointer;
}

#image {
    max-width: 625px;
    min-width: 350px;
    margin: 60px 0;
}

i {
    margin: 2px;
    width: 45px;
    height: 45px;
}

.ftr {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fc:hover {
    background-color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    color: white;
}

.tw:hover {
    background-color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    color: white;
}

.in:hover {
    background-color: hsl(223, 87%, 63%);
    border-color: hsl(223, 87%, 63%);
    color: white;
    ;
}

#notify:hover {
    background-color: hsl(223, 87%, 63%);
}

i {
    border: 1px solid hsl(0, 0%, 59%);
    color: hsl(223, 87%, 63%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin: 6px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: hsl(240, 100%, 100%);
        padding: 8% 3% 3% 4%;
        margin: 2% 2% 2% 2%;
    }
    #notify {
        margin: 2%;
        width: 90%;
    }
    #email_input {
        max-width: 90%;
    }
    #image {
        min-width: 375px;
        margin: 40px 0;
        width: 50%;
    }
    h2 {
        width: 90%;
        font-size: 30px
    }
    /* span {
        width: 5%;
    } */
}